@forward "uswds-theme";
@forward "uswds";
@forward "uswds-theme-custom-styles";

@media (min-width: 64em) {
  .usa-header--basic .usa-nav {
    padding: 0 0 .25rem .5rem;
  }
}

main h2,
main h3,
main h4,
main h5,
main h6 {
  scroll-margin-top: 6.25rem;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.usa-prose code:not(.highlight code) {
  background-color: transparent;
  padding: 0;
  word-wrap: normal;
}

// Red applies only outside links so <code> in <a> inherits the link color.
.usa-prose code:not(.highlight code):not(a code) {
  background-color: #f0f0f0;
  padding: .125rem .25rem;
  word-wrap: break-word;
  color: #B9323F;
}

// Adding this manually, rather than enabling all desktop-lg utilities
// This is needed because .usa-in-page-nav is hidden at desktop-lg and we want our column to stay in sync
@media (min-width: 75em) {
  .desktop-lg\:display-block {
    display: block;
  }
}