---
layout: base
page_title: "DPC API"
show-side-nav: false
---

<main id="main-content">
  <div class="usa-section--dark bg-primary bg-primary-gradient">
    <div class="grid-container padding-y-8">
      <h1 class="hero-title font-body-3xl measure-1 margin-bottom-0 line-height-sans-2 text-semibold text-balance">
        A 360° view of your patients' <br>claim history
      </h1>
      <p class="hero-paragraph line-height-sans-4 measure-5">
        As patients move throughout the healthcare system, providers often struggle to gain and maintain a complete picture of their patients’ medical history. Data at the Point of Care (DPC) aims to fill these gaps in care by providing Medicare Fee-For-Service claims data to providers in a structured and standardized format.
      </p>
      <div class="grid-row grid-gap margin-top-2">
        <div class="tablet:grid-col-auto margin-top-2">
          <a href="{{ '/api-documentation' | relative_url }}"
            class="hero-button usa-button usa-button--inverse usa-button--outline width-full">
            Get started
            {% include sprite.html icon="arrow_forward" size="3" %}
          </a>
        </div>
        <div class="tablet:grid-col-auto margin-top-2">
          <a href="https://github.com/CMSgov/dpc-app" target="_blank" rel="noopener" 
            class="hero-button usa-button usa-button--inverse usa-button--outline width-full">
            Code repo
            {% include sprite.html icon="github" size="3" %}
          </a>
        </div>
      </div>
    </div>
  </div>
<!-- 
  -->
  <div class="minw-15 padding-y-7 padding-x-3 grid-container">
    <div class="padding-y-7">
      <h2>Use cases for DPC</h2>
      <div class="usa-graphic-list__row grid-row tablet:grid-gap-6 padding-y-2">
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="insights" size="8" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Get more data
            </h3>
            <p>
              Learn about new diagnoses, medications, completed procedures, and preventive items on your patients' visits to other clinics, including urgent care, hospitals, and ER visits.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="autorenew" size="8" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Manage less paperwork
            </h3>
            <p>
              Facilitate seamless transitions of care across provider teams by sharing a fuller picture of the patient's care.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="medical_services" size="7" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Improve quality of care
            </h3>
            <p>
              Spend less time tracking down patient records or relying on the patient's memory for their medical history. Spend more time delivering better care and addressing patient needs during the visit.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="identification" size="7" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Wellness checks
            </h3>
            <p>
              Maria, a 68-year-old Medicare beneficiary, recalls getting the first dose of her shingles vaccine at her local pharmacy earlier this year, but she can't remember when she went. Her provider uses data from DPC to see when Maria got her shot, and if she's ready for her second dose.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="identification" size="7" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Population analytics
            </h3>
            <p>
              Elena, a diabetes care coordinator, manages the care of dozens of patients with chronic conditions. She uses DPC data to stay informed and perform analytics on recent clinic visits, hospital admissions, procedures, and medication refills for her entire population of patients.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--
    -->
    <div class="grid-row grid-gap-4 desktop:grid-gap-6 padding-y-7">
      <div class="tablet:order-last tablet:grid-col display-flex flex-align-center tablet:flex-justify-center">
        <img class="width-auto height-full" style="object-fit: contain;"
          src="{{ '/assets/img/production.svg' | relative_url }}"
          alt="Illustration of two people collaborating using a laptop and discussing data, charts, and communication." />
      </div>
      <div class="tablet:grid-col padding-top-4 tablet:padding-top-0 display-flex flex-align-center">
        <div>
          <h2>How can I get my healthcare organization involved?</h2>
          <p>
            In order to receive claims data for Medicare beneficiaries, the DPC API requires a partnership between providers and their Health IT team to develop and design a solution that seamlessly integrates with the Health IT software. This capability empowers providers to request claims data directly through the Health IT software and gain insight into patient records within the existing workflows utilized at the point of care.
          </p>
          <!-- <p>
            <a href="{{ '/dpc-data' | relative_url }}" class="usa-button usa-button--unstyled">Learn about the
              data {% include sprite.html icon="arrow_forward" %}</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
<!-- 
  -->
  <div>
    <div class="grid-row margin-bottom-6">
      <div class="bg-primary grid-col-12 desktop:grid-col-6">
        <div style="max-width: calc(75rem / 2);"
          class="desktop:margin-left-auto padding-x-3 desktop:padding-right-6 height-full padding-y-8 text-white display-flex flex-column">
          <div class="border-bottom border-white">
            <h2 class="margin-bottom-2">Featured</h2>
          </div>
          <h3 class="font-sans-lg" style="line-height: 1.4;">Nulla quis tortor fermentum, sodales odio eget, congue dui.</h3>
          <div>
            <p class="margin-bottom-0">Sed condimentum neque blandit quam scelerisque, nec laoreet diam eleifend. Pellentesque congue laoreet metus. Ut luctus, sem eu vestibulum lobortis, magna nibh malesuada libero, sed blandit neque metus ut purus. Praesent ex urna, feugiat non enim ac, auctor condimentum velit. Praesent vitae posuere ipsum.</p>
          </div>
          <div class="margin-top-auto">
            <div class="margin-top-5">
              <a href="{{ '/tbd2' | relative_url }}"
                class="usa-button usa-button--outline usa-button--inverse">
                Learn more
                {% include sprite.html icon="arrow_forward" size="3" %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-10 grid-col-12 desktop:grid-col-6">
        <div style="max-width: calc(75rem / 2);"
          class="desktop:margin-right-auto padding-x-3 desktop:padding-left-6 height-full padding-y-8 display-flex flex-column">
          <div class="border-bottom border-black">
            <h2 class="margin-bottom-2">Announcements</h2>
          </div>
          <h3 class="font-sans-lg" style="line-height: 1.4;">What we're working on</h3>
          <div>
            <p>We're enhancing authentication and user experience for DPC.</p>
            <p>The DPC pilot has revealed ways to improve the onboarding experience and enhance the verification of organizations accessing Medicare enrollees' data. We've also identified ways to automate steps that are currently manual. While onboarding is paused, we're addressing these needs by:</p>
          </div>
          <div class="margin-top-auto">
            <div class="margin-top-5">
              <a href="{{ '/announcements/what-were-working-on' | relative_url }}"
                class="usa-button usa-button--outline">
                View announcement
                {% include sprite.html icon="arrow_forward" size="3" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>