<section id="hero__banner" arial-label="Onboarding Announcement">
  <div class="banner-content">
    <div class="banner-text__container">
      <div class="banner-text__title">
        DPC Pilot Onboarding Update
      </div>
      <div class="banner-text__content">
        The DPC pilot is underway, but we've paused on issuing additional API credentials while we implement a new onboarding experience. Please review the <a href="/updates.html" id="banner-updates">Updates</a> page to learn more about the status of DPC onboarding.
      </div>
    </div>
  </div>
</section>

<section class="site-block" id="hero" aria-label="DPC Introduction">
  <div class="site-block-content">
    <img src="/assets/images/dpc-header.svg" alt="DPC Header depicting doctors and a patient standing around a table. Next to the group is a sign that reads: a 360 degree view of your patients' claims history. A checklist with all of the following checked off: New diagnoses, medications, completed procedures, preventative care, external encounters.">
  </div>
</section>
