<section id="hero__banner" arial-label="Onboarding Announcement">
  <div class="banner-content">
    <div class="banner-text__container">
      <div class="banner-text__title">
        Join the Production Pilot Onboarding Queue!
      </div>
      <div class="banner-text__content">
        For more information, please review the <a href="/faq" id="banner-faq">FAQ</a> about production access.
      </div>
    </div>
    <div class="banner-btn__container">
      <a href="https://airtable.com/shr3m3BL3IWY5hYnm" target="_blank" class="sign_up_btn">Apply Now</a>
    </div>
  </div>
</section>

<section class="site-block" id="hero" aria-label="DPC Introduction">
  <div class="site-block-content">
    <img src="/assets/images/dpc-header.svg">
  </div>
</section>
