<a class="ds-c-skip-nav" href="#main">Skip to main content</a>

<div class="navigation-bar" id="navigation" role="navigation">
  <a class="site-logo" href="/">
    <img src="{{ site.logourl | relative_url }}" alt="Heart logo"> <span class="site-logo-text">Data at the<br />Point of Care</span>
  </a>

  <button id="topnav__show-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__show-button" type="button" aria-controls="topnav-wrap" aria-label="Show menu">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <use xlink:href="/assets/images/solid.svg#bars"></use>
    </svg>
  </button>

  <div class="topnav-wrap" id="topnav-wrap">
    <button id="topnav__close-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__close-button" type="button"
aria-controls="topnav-wrap" aria-label="Close menu">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/assets/images/solid.svg#times"></use>
      </svg>
    </button>
    <ul class="topnav">
      <div id="static-site-links">
        {% for item in site.global_nav %}
          {% assign pages = site.pages | where:"id",item.id %}
          {% for p in pages %}
            <li class="topnav__item">
              <a class="topnav__link" href="{{ p.url }}"> {{item.title}} </a>
            </li>
          {% endfor %}
        {% endfor %}
      </div>
      <li class="topnav__item topnav__item--buttons ds-u-padding-right--1">
        <a href={{ site.sbx_sign_in }} class="ds-c-button sandbox-btn">Sandbox<br />Sign Up / Login</a>
      </li>
    </ul>
  </div>
</div>