.site-block {
  line-height: 1.5;
  padding: 0;
  position: relative;

  .site-block-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.site-block--alt {
  background-color: $color-primary-darkest;
  color: $color-white;

  h2 {
    color: $color-white;
  }
}

.site-block--mint {
  background-color: $color-success-lightest;

  h1 {
    color: $color-base;
  }
}

.site-block-header * {
  max-width: 77ch;
}

.site-block-header__heading {
  margin-top: 0;
  max-width: 48ch;

  @media (min-width: $width-md) {
    font-size: $h1-font-size;
  }
}

.card {
  background-color: $color-white;
  box-shadow: 0 0 0 rbga(0,0,0, .5);
  padding: $spacer-3 $spacer-4;
}

.card--border-top {
  border-top: 4px solid $color-success-light;
}

.card--border-top--red {
  border-top: 4px solid $color-error-dark;
}

.card--shadow {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.use-case {
  display: flex;
  flex-direction: row;

  .img-container {
    width: 33%;
  }

  .use-case-descr {
    padding: $spacer-6 0;
    width: 66%;
  }
}

#fhir-apis {
  padding: $spacer-3;

  h2 {
    text-align: center;
  }
}

#hero {
  background: url("/assets/images/dpc-header.svg") no-repeat center;
  background-size:contain;
  height: 500px;
}

#home-checklist {
  background: url("/assets/images/hexagon-bg.svg");
  padding: $spacer-6;

  .ds-text-heading--2xl {
    color: $color-white;
    margin-bottom: 0.25rem;
  }

  .flex--row {
    img {
      height: 100%;
      width: 100%;
    }
  }

  #checklist {
    width: 66%;
    padding: 0 4rem 0 2rem;
  }

  #hero-heart-container {
    width: 33%;
  }
}

#pagers {
  .pagers-container {
    padding: 20px;
    width: 50%;
  }
}