.site-block {
  line-height: 1.5;
  padding: $spacer-7 0;
  position: relative;

  .site-block-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.site-block--alt {
  background-color: $color-primary-darkest;
  color: $color-white;
}

.site-block-header * {
  max-width: 77ch;
}

.site-block-header__heading {
  margin-top: 0;
  max-width: 48ch;

  @media (min-width: $width-md) {
    font-size: $h1-font-size;
  }
}

.card {
  background-color: $color-white;
  box-shadow: 0 0 0 rbga(0,0,0, .5);
  padding: $spacer-3 $spacer-4;
}

.card--border-top {
  border-top: 4px solid $color-success-light;
}

.card--border-top--red {
  border-top: 4px solid $color-error-dark;
}

.card--shadow {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}

.flex--row {
  display: flex;
  flex-direction: row;
}

#hero {
  background: url("/assets/images/dpc-header.svg") no-repeat center;
  background-size:contain;
  height: 400px;
}

#home-checklist {
  .flex--row {
    div {
      width: 50%;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}